html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

html {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
.layoutHeader header {
  text-align: center;
  background-color: white;
  height: 105px;
}
@media screen and (max-width: 800px) {
  .layoutHeader header {
    height: 0;
  }
}
.layoutHeader.scroll {
  height: 60px;
}
@media screen and (max-width: 800px) {
  .layoutHeader.scroll {
    height: 0;
  }
}

.layoutHeader--nav {
  position: fixed;
  margin: 15px 0;
  top: 60px;
  left: 0;
  right: 0;
  border-top: 1px solid #48484A;
  border-bottom: 1px solid #48484A;
  background-color: white;
}
@media screen and (max-width: 800px) {
  .layoutHeader--nav {
    display: none;
  }
}
.layoutHeader--nav.scroll {
  top: 0;
  opacity: .8;
  z-index: 10;
}

.layoutHeader--menu {
  max-width: 1000px;
  margin: 0 auto;
}
.layoutHeader--menu > li {
  text-align: center;
  display: inline-block;
  width: 24%;
}
.layoutHeader--menu > li a {
  font: 12px Arial, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 25px;
  font-weight: 600;
}
.layoutHeader--menu.scroll {
  background: url("../images/favicon/favicon-32.png") no-repeat left;
}

.layoutSection {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin: 0 auto;
  padding: 100px 10px 50px;
}
.layoutSection:after {
  content: " ";
  display: block;
  clear: both;
}

.layoutHome {
  background-color: #A7FBFD;
}

.layoutContact {
  background-color: #FCFCD3;
}

.layoutFooter {
  background-color: #FCE8EC;
  padding: 50px 0;
}

.contactFormContainer {
  padding: 50px 0;
  max-width: 800px;
  margin: 0 auto;
}

.contactFormContainer input {
  background-color: transparent;
  border: 3px solid #F5C23D;
  border-radius: 5px;
  color: #48484A;
  font-size: 18px;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  margin-bottom: 10px;
  width: 240px;
}

.susy-col-6 {
  width: 49.15254%;
  float: left;
  margin-right: 1.69492%;
}

.susy-col-6-last {
  width: 49.15254%;
  float: right;
  margin-right: 0;
}

.susy-col-2 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}

.susy-col-3 {
  width: 15.25424%;
  float: left;
  margin-right: 1.69492%;
}

.susy-col-2-last {
  width: 15.25424%;
  float: right;
  margin-right: 0;
}

.susy-col-9-last {
  width: 74.57627%;
  float: right;
  margin-right: 0;
}

.logoLoader {
  position: fixed;
  top: 0;
  z-index: 100;
  min-height: 480px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: block;
  margin: 0 auto;
}

.loaderContainer {
  position: relative;
  padding-top: 20%;
  animation: shrink 1s 4s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes shrink {
  to {
    transform: scale(0.6, 0.6) rotate(360deg);
  }
}
.plants {
  position: absolute;
  opacity: 0;
}

.plants.plant1 {
  transform-origin: 88px 100%;
  animation: grow 1s 2.2s ease forwards;
}

.plants.plant2 {
  transform-origin: 50% 100%;
  animation: grow 1s 2.7s ease forwards;
}

.plants.plant3 {
  transform-origin: 245px 100%;
  animation: grow 1s 3.2s ease forwards;
}

@keyframes grow {
  from {
    transform: scale(0.1, 0.1);
  }
  to {
    transform: scale(1, 1);
    opacity: 1;
  }
}
.logoLoader {
  animation: animLoadedHeader 1s 4s cubic-bezier(0.7, 0, 0.3, 1) forwards;
}

@keyframes animLoadedHeader {
  to {
    opacity: 0;
    z-index: -10;
  }
}
.layoutLogo {
  position: absolute;
  display: block;
  padding-top: 5px;
  margin: 0 auto;
  width: 100%;
}

body {
  font: 16px arial, sans-serif;
  line-height: 1.7rem;
  color: #48484A;
}

a {
  text-decoration: none;
  color: #48484A;
}
a:hover {
  color: #666;
}

.logoText {
  font-size: 14px;
  line-height: 0.8;
  margin-top: -6px;
  margin-bottom: 15px;
}

.errorMsg {
  display: none;
}

.clip-circle {
  -webkit-clip-path: circle(50px at 120px 90px);
  clip-path: circle(50px at 120px 90px);
}

.scrollDown-arrow {
  display: block;
  position: relative;
  margin-top: 50px;
}
.scrollDown-arrow:before, .scrollDown-arrow:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 50%;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
}
.scrollDown-arrow:before {
  bottom: 0;
  -webkit-transition: border-top-color 0.5s ease;
  -moz-transition: border-top-color 0.5s ease;
  -o-transition: border-top-color 0.5s ease;
  transition: border-top-color 0.5s ease;
  border-top: 20px solid white;
}
.scrollDown-arrow:after {
  bottom: 2px;
  border-top: 20px solid #A7FBFD;
}
.scrollDown-arrow:hover:before {
  border-top: 20px solid #FCFCD3;
}

.projectBoxContainer {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin: 50px 0;
}
.projectBoxContainer:after {
  content: " ";
  display: block;
  clear: both;
}

.project {
  opacity: 0;
  height: 144px;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-duration: 0.6s;
  -o-transition-duration: 0.6s;
  -webkit-transition-duration: 0.6s;
  transition-duration: 0.6s;
}
.project.project1.visible {
  -moz-transition-delay: 0.1s;
  -o-transition-delay: 0.1s;
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.project.project2.visible {
  -moz-transition-delay: 0.2s;
  -o-transition-delay: 0.2s;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}
.project.project3.visible {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.project.project-soon.visible {
  -moz-transition-delay: 0.5s;
  -o-transition-delay: 0.5s;
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

.active .project {
  opacity: 1;
}

.project1 {
  background: url("../images/firaofta-144.png") center no-repeat;
}

.project2 {
  background: url("../images/aldente.png") center no-repeat;
}

.project3 {
  background: url("../images/stenSaxPase.png") center no-repeat;
}

.project-soon {
  background: url("../images/soon.png") center no-repeat;
}

.projectBox-title {
  padding: 50px;
  text-align: center;
}

.delay {
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -moz-transition-timing-function: ease-in-out;
  -o-transition-timing-function: ease-in-out;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
  -moz-transition-duration: 1.5s;
  -o-transition-duration: 1.5s;
  -webkit-transition-duration: 1.5s;
  transition-duration: 1.5s;
  opacity: 0;
}
.delay.delay-1 {
  -moz-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}
.delay.delay-2 {
  -moz-transition-delay: 0.4s;
  -o-transition-delay: 0.4s;
  -webkit-transition-delay: 0.4s;
  transition-delay: 0.4s;
}
.delay.delay-3 {
  -moz-transition-delay: 0.8s;
  -o-transition-delay: 0.8s;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}
.delay.delay-4 {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
}
.delay.delay-5 {
  -moz-transition-delay: 1.3s;
  -o-transition-delay: 1.3s;
  -webkit-transition-delay: 1.3s;
  transition-delay: 1.3s;
}

.loaded .delay {
  opacity: 1;
}

.themeHeader--nav li a {
  color: #48484A;
}

.themeMain--intro {
  font-size: 3.0rem;
  line-height: 1.5;
  font-weight: 600;
  font-family: Verdana, Verdana, Geneva, sans-serif;
  color: #48484A;
  text-align: center;
}

.text-xl {
  font-size: 140%;
}

.text-l {
  font-size: 120%;
}

.text-s {
  font-size: 90%;
}

.text-xs {
  font-size: 80%;
}

.text-xl {
  font-size: 140%;
}

.text-l {
  font-size: 120%;
}

.text-s {
  font-size: 90%;
}

.text-xs {
  font-size: 80%;
}

.sliderContainer {
  width: 144px;
  height: 144px;
  margin: 0 auto;
}

.slider {
  overflow: hidden;
}

.slider ul {
  width: 1000px;
}

.slider li {
  float: left;
}

.slider-nav {
  display: none;
}

.slider-nav button {
  padding: 1em;
  cursor: pointer;
}

/* Welcome to Compass. Use this file to define print styles.
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Welcome to Compass. Use this file to write IE specific override styles.
 * Import this file using the following HTML or equivalent:
 * <!--[if IE]>
 *   <link href="/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
 * <![endif]--> */
@-webkit-viewport {
  width: device-width;
}
@-moz-viewport {
  width: device-width;
}
@-ms-viewport {
  width: device-width;
}
@-o-viewport {
  width: device-width;
}
@viewport {
  width: device-width;
}
