html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
body {
  background: #0B0809 url('images/window.png') no-repeat top left;
  font-family: EurostileRegular;
  color: #FFF;
}

h3 {
  font-size: 30px;
  margin: 0;
}

ul {
  list-style: none;
}

a {
  color: #352329;
}

li a {
  text-decoration: none;
}

header {
  padding-top: 20px;
  height: 335px;
}
header:after {
  position: absolute;
  top: 0;
  width: 0;
  height: 0;
  display: block;
  content: "";
  border-bottom: 335px solid transparent;
  border-left: 2000px solid #8C8C8C;
  z-index: -10;
  opacity: .8;
}

header h1 {
  font-family: Baskerville-Bold;
  font-size: 48px;
  color: #FFFFFF;
  line-height: 55px;
  padding-left: 20px;
  margin-bottom: 0;
}

header h2 {
  font-family: Baskerville;
  font-weight: 100;
  font-size: 30px;
  color: #352329;
  line-height: 34px;
  padding-left: 20px;
  border-bottom: 1px solid #FFF;
}

.summary {
  font-size: 20px;
  line-height: 24px;
  margin: -90px 200px 0 550px;
}

.summary p:first-child{
  margin-top: 0;
}

.summary a {
  color: #EACACA;
}

.preamble {
  margin: 100px 200px 0 400px;
  padding: 50px;
  color: #0B0809;
  background: #F5EFE6;
}

.explanation,
.participation,
.benefits,
.requirements {
  margin: 100px 200px 0 400px;
  padding: 50px;
  color: #0B0809;
  background: #F5EFE6;
}
.requirements {
  position: relative;
}
.requirements:before {
  content: "";
  position: absolute;
  top: -95px;
  right: -80px;
  width: 200px;
  height: 150px;
  display: block;
  background: url(images/man.png) no-repeat;
  background-size: 83%;
}

/*
.summary:after {
  left: -400px;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  display: block;
  content: "";
  border-bottom: 335px solid transparent;
  border-left: 2000px solid #F5EFE6;
  opacity: .82;
  z-index: -10;
  -ms-transform: rotate(200deg); 
  -webkit-transform: rotate(200deg); 
  transform: rotate(200deg);
}
*/

.sidebar {
  display: block;
  width: 100%;
  position: fixed;
  top: 0px;
  background: #8C8C8C;
  opacity: .8;
}

.wrapper {
  display: flex;
}

.sidebar h3 {
  font-size: 20px;
  padding: 10px;
}
.sidebar ul {
  padding: 0;
  margin: 0;
}
.sidebar li {
  padding: 8px;
  border-bottom: 2px dotted #352329;
}
.sidebar li a {
  color: #352329;
  padding: 8px;
}
.sidebar li:hover {
  background: #E2AAAA;
}

.design-selection,
.design-archives,
.zen-resources {
  width: 200px;
  height: 50px;
  margin: auto;
}

.design-selection nav,
.design-archives nav,
.zen-resources ul {
  display: none;
}

.design-selection:hover,
.design-archives:hover,
.zen-resources:hover {
  color: #352329;
  cursor: pointer;
}

.design-selection:hover nav,
.design-archives:hover nav,
.zen-resources:hover ul {
  display: inline-block;
  width: 200px;
  background: #EACACA;
}

footer {
  padding: 20px;
  background: #8C8C8C;
  text-align: center;
}

footer a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
}

